******** GENERAL ***********/

html, body, #home {
    height: 100%;
    margin: 0 auto;
    align-items: left;
    justify-content: center;

}



h1, h2, h3, h4, h6{
    font-family: "antipastoregular", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }

/* HEADER */

#header {
    padding: 10px 0;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    
}
  
#header #logo {
    float: left;
}

#header.header-ativo {
    background: rgba(0,0,0,0.6) !important;
}

#logo {
    margin-top: 5px;
    float: left;
}

#nav-menu-container ul li {
    display: inline;
}

.nav-menu {
    margin-top: 10px;
    list-style: none;
    float: right;
}

.nav-menu a {
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    list-style: none;
    padding: 0px 10px 0px 10px;
    font-weight: 800;
}

.nav-menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-ativo > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* FOOTER  */
#contato {
    background:#1d2840;
    padding: 50px 0px 20px 0px;
}

#contato h4 {
    color: #919496;
    text-transform: uppercase;
    font-size: 1em;
}

#contato .navbar-nav a {
    color: white;
    font-size: 0.9em;
}

#contato .navbar-nav a:hover {
    color: yellow;
    font-size: 0.9em;
    text-decoration: none;
}

#contato ul {
    list-style: none;
}

#contato ul li {
    margin: 5px 0px;
}

#contato .espaco {
    float: left;
    margin: 0 15px;

}


#contato .col-md-2 .logo-roda{
    width: 80px;
    margin-top: 10px;
}
#contato .col-md-2 .insta{
    width: 40px;
    
}

@media (max-width: 360px) {
    #logo img  {
        width: 100px;
    
    }
    #nav-menu-container {
        display: none;
    }

    #home h1 {
        font-size: 5em;
    }

    #home h3 {
        font-size: 1em;
    }

   
    /* sobre */
    #sobre h1.ingles {
        color: rgba(0, 0, 0, 0.2);
        font-size: 4em;
        text-align: center;
        top: -25px;
        left: 200px;
    }


    #sobre h1.portugues {
        position: absolute;
        left: 160px;
        color: black;
        font-size: 3.5em;
        text-align: center;
    }

    #sobre p {
        margin-top: 180px;
    } 
    
    #eq-epic {
        position: absolute;

    }
    #sobre h1.portugues {
        position: absolute;
        left: 160px;
        color: black;
        font-size: 3.5em;

        text-align: center;
        font-size: 1.9em;
        left: 155px;
        top: 240px;
    }
    
    #eq-team {
        position: absolute;
        left: 180px;
        top: 260px;
        color: rgba(0, 0, 0, 0.2);
        font-size: 2em;
    }
    .owl-carousel {
        top: 80px;
    }

    #botao_anterior, #botao_proximo {
        display: none;
    }


    #sobre p {
        margin-top: 180px;
    } 
    
    #eq-epic {
        position: absolute;
        text-align: center;
        font-size: 1.9em;
        left: 155px;
        top: 240px;
    }
    
    #eq-team {
        position: absolute;
        left: 180px;
        top: 260px;
        color: rgba(0, 0, 0, 0.2);
        font-size: 2em;
    }

    .owl-carousel {
        top: 80px;
    }

    #botao_anterior, #botao_proximo {
        display: none;
    }
    /*contato */
    #contato {
        background:#1d2840;;
        padding: 50px 0px 20px 0px;
    }

    #contato img {
        width: 110px;
        margin-bottom: 20px;
    }

    #contato h4 {
        color: #919496;
        text-transform: uppercase;
        font-size: 1em;
        margin-top: 15px;
    }

    #contato .navbar-nav a {
        color: white;
        font-size: 0.9em;
    }

    #contato .navbar-nav a:hover {
        color: yellow;
        font-size: 0.9em;
        text-decoration: none;
    }

    #contato ul {
        list-style: none;
    }

    #contato ul li {
        margin: 5px 0px;
    }

    #contato .espaco {
        margin: 0 15px 0px 0px;
    }

    #contato .espaco img {
        width: 20px;
        margin-right: 600px;
    }
    #contato .col-md-2 .insta{
        width: 30px;
    }
    #contato .col-md-2 .logo-roda{
        width: 80px;
        margin-top:auto;
        margin-left: 10px;
    }
}



@media (min-width: 361px) and (max-width: 575.98px){
    #logo img{
        width: 100px;
    }

    #nav-menu-container {
        display: none;
    }

    #home h1 {
        font-size: 4em;
    }

    #home h3 {
        font-size: 1em;
    }

   
    /* sobre */
    #sobre h1.ingles {
        color: rgba(0, 0, 0, 0.2);
        font-size: 4em;
        text-align: center;
        top: -25px;
        left: 200px;
    }

    #sobre h1.portugues {
        position: absolute;
        left: 160px;
        color: black;
        font-size: 3.5em;
        text-align: center;
    }

    #sobre p {
        margin-top: 180px;
    } 
    
    #eq-epic {
        position: absolute;
        text-align: center;
        font-size: 1.9em;
        left: 155px;
        top: 240px;
    }
    
    #eq-team {
        position: absolute;
        left: 180px;
        top: 260px;
        color: rgba(0, 0, 0, 0.2);
        font-size: 2em;
    }

    .owl-carousel {
        top: 80px;
    }

    #botao_anterior, #botao_proximo {
        display: none;
    }

    /*contato */
    #contato {
        background:#1d2840;;
        padding: 50px 0px 20px 0px;
    }

    #contato img {
        width: 110px;
        margin-bottom: 20px;
    }

    #contato h4 {
        color: #919496;
        text-transform: uppercase;
        font-size: 1em;
        margin-top: 15px;
    }

    #contato .navbar-nav a {
        color: white;
        font-size: 0.9em;
    }

    #contato .navbar-nav a:hover {
        color: yellow;
        font-size: 0.9em;
        text-decoration: none;
    }

    #contato ul {
        list-style: none;
    }

    #contato ul li {
        margin: 5px 0px;
    }

    #contato .espaco {
        margin: 0 15px 0px 0px;
    }

    #contato .espaco img {
        width: 20px;
        margin-right: 600px;
    }
    #contato .col-md-2 .insta{
        width: 30px;
    }
    #contato .col-md-2 .logo-roda{
        width: 80px;
        margin-top:auto;
        margin-left: 10px;
    }

}



/*** mobile ****/
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}
  
#mobile-nav-toggle i {
    color: #fff;
}

@media (max-width: 991px) {
    #mobile-nav-toggle {
      display: inline;
    }
}
  
  /* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}
  
#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
#mobile-nav ul li {
    position: relative;
}
  
#mobile-nav ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
}
  
#mobile-nav ul li a:hover {
    color: rgba(255, 255, 255, 0.7);
}
  
#mobile-nav ul li li {
    padding-left: 30px;
}
  
#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}
  
#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #2dc997;
}
  
#mobile-nav ul .menu-item-active {
    color: #2dc997;
}
  
#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}
  
  /* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}
  
body.mobile-nav-active #mobile-nav {
    left: 0;
}
  
body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}

@media (min-width: 576px) and (max-width: 768.98px) {
    #logo img{
        width: 130px;
    }


    #nav-menu-container {
        display: none;
    }

    #home h1 {
        font-size: 4.5em;
    }

    #home h3 {
        font-size: 1em;
    }

    /* INICIATIVAS */

    /* sobre */
    #sobre h1.ingles {
        color: rgba(0, 0, 0, 0.2);
        font-size: 4.5em;
        text-align: center;
        top: -30px;
        left: 220px;
    }

    #sobre h1.portugues {
        position: absolute;
        left: 180px;
        color: black;
        font-size: 4em;
        text-align: center;
    }

    #sobre p {
        font-size: 1.2em;
        margin-top: 250px;
    } 
    
    #eq-epic {
        position: absolute;
        text-align: center;
        font-size: 1.9em;
        left: 180px;
        top: 290px;
    }
    
    #eq-team {
        position: absolute;
        left: 205px;
        top: 310px;
        color: rgba(0, 0, 0, 0.2);
        font-size: 2em;
    }

    .owl-carousel {
        top: 120px;
    }

    #botao_anterior, #botao_proximo {
        top: 185px;
        cursor: pointer;
    }
    
    #botao_anterior {
        right: 525px;
    }
    
    #botao_proximo {
        left: 525px;
    }

    /* CONTATO */

    #contato {
        background:#1d2840;
        padding: 50px 0px 20px 0px;
    }

    #contato img {
        margin-bottom: 20px;
    }

    #contato h4 {
        font-size: 1em;
        margin-top: 10px;
    }

    #contato .navbar-nav a {
        font-size: 0.9em;
    }

    #contato .navbar-nav a:hover {
        font-size: 0.9em;
    }

    #contato ul li {
        margin: 5px 0px;
    }

    #contato .espaco {
        float: left;
        margin: 0 15px;
    }

    #contato .espaco img {
        width: 30px;
        margin-top: 10px;
    }
    #contato .col-md-2 .insta{
        width: 40px;
    }

}
  
@media (min-width: 769px) and (max-width: 991.98px){  
    #logo img{
        width: 130px;
    }


    #nav-menu-container {
        display: none;
    }

    #home h1 {
        font-size: 4.5em;
    }

    #home h3 {
        font-size: 1em;
    }

    /* INICIATIVAS */

    /* sobre */
    #sobre h1.ingles {
        color: rgba(0, 0, 0, 0.2);
        font-size: 4.5em;
        text-align: center;
        top: -30px;
        left: 220px;
    }

    #sobre h1.portugues {
        position: absolute;
        left: 180px;
        color: black;
        font-size: 4em;
        text-align: center;
    }

    #sobre p {
        font-size: 1.2em;
        margin-top: 250px;
    } 
    
    #eq-epic {
        position: absolute;
        text-align: center;
        font-size: 1.9em;
        left: 180px;
        top: 290px;
    }
    
    #eq-team {
        position: absolute;
        left: 205px;
        top: 310px;
        color: rgba(0, 0, 0, 0.2);
        font-size: 2em;
    }

    .owl-carousel {
        top: 120px;
    }

    #botao_anterior, #botao_proximo {
        top: 185px;
        cursor: pointer;
    }
    
    #botao_anterior {
        right: 525px;
    }
    
    #botao_proximo {
        left: 525px;
    }


    /* CONTATO */
    #contato {
        background:#1d2840;
        padding: 50px 0px 20px 0px;
    }

    #contato img {
        width: 100px;
    }

    #contato h4 {
        color: #919496;
        text-transform: uppercase;
        font-size: 1em;
        margin-top: 10px;
    }

    #contato .navbar-nav a {
        font-size: 0.9em;
    }

    #contato .navbar-nav a:hover {
        font-size: 0.9em;
    }

    #contato ul {
        list-style: none;
    }

    #contato ul li {
        margin: 5px 0px;
    }

    #contato .espaco {
        float: left;
        margin: 0 15px;
    }

    #contato .espaco img {
        width: 25px;
        margin-top: 10px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px){
    #eq-epic {
        position: absolute;
        text-align: center;
        font-size: 2.2em;
        left: 110px;
        top: 330px;
    }
    
    #eq-team {
        position: absolute;
        left: 130px;
        top: 355px;
        color: rgba(0, 0, 0, 0.2);
        font-size: 2.3em;
    }

    .owl-carousel {
        position: absolute;
        top: 160px;
        right: 30px;
    }

    #botao_anterior, #botao_proximo {
        top: 220px;
        cursor: pointer;
    }
    
    #botao_anterior {
        right: 505px;
    }
    
    #botao_proximo {
        left: 445px;
    }

    #contato .col-md-2 img {
        width: 140px;
    }
    #home h1{
        font-size: 6em;
    }

}
/*****************************************************************/
/**CAPA***********/

.home .inicio{
    top:10%;
    position: relative;
    width: 100%;
    padding: 0%;
}
.home .inicio .cont-inicio{
    height: 100%;
    overflow: hidden;
}
.home .inicio .cont-inicio .transparente{
   background: #0f0f0f8a;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
 }
 .home .inicio .cont-inicio .logo{
        position: absolute;
        align-content: center;
        margin-left: 20%;
        margin-top: 15%;
        z-index: 10;
           
}
.home .inicio .cont-inicio .logo .text-animado{
    position: relative;
    height: 100px;
    
}   
.home .inicio .cont-inicio .logo .text-animado h1{
    color: #fff;
    font-size: 10.8em;
    font-weight: 600;

}
.home .inicio .cont-inicio .logo .rede_social{
    margin-top: 100px;
    z-index: 20;
}
.home .inicio .cont-inicio .logo .rede_social a{
    color: #fff;
    font-size: 25px;
    margin-left: 100px;
}

 .inicio .cont-inicio .logo .btn-get-started {
    font-family: 'antipastoregular', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    background: rgba(0,0,0,0.2);
}

.inicio .cont-inicio .logo .btn-get-started:hover {
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}
 .inicio .cont-inicio .imgfundo{
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration:40s;
    animation-name: zoomin;
    animation-duration: 40s;
 }
 @-webkit-keyframes zoomin{
    from{transform: scale(1,1);}
    to{transform: scale(1.5,1.5);}
 
 }
 @keyframes zoomin{
    from{transform: scale(1,1);}
    to{transform: scale(1.5,1.5);
    }
 }
 /*ajuste moobile capa*/
 @media(max-width: 350px){
    .home .inicio{
        top:40%;
        position: relative;
        width: 100%;
    }
    .home .inicio .cont-inicio .logo{
        position: absolute;
        align-content: center;
        margin-top: 45%;
        z-index: 10;
           
}
 
    .home .inicio .cont-inicio .imgfundo{
            width:350px;
            height:400px ;
    }
    .home .inicio .cont-inicio .logo .text-animado{
        position: auto;
        top: 50%;
        height: 100px;
        
    }   
    .home .inicio .cont-inicio .logo .text-animado h1{
        color: #fff;
        font-size: 0.8em;
        font-weight: 600;
    
    }
   

}
@media(min-width: 350px) and (max-width: 400.99px){
    .home .inicio{
        top:40%;
        position: relative;
        width: 100%;
    }
    .home .inicio .cont-inicio .logo{
        position: absolute;
        align-content: center;
        margin-top: 35%;
        z-index: 10;
           
}
 
    .home .inicio .cont-inicio .imgfundo{
            width:700px ;
            height:500px ;
    }
    .home .inicio .cont-inicio .logo .text-animado{
        position: auto;
        top: 50%;
        height: 100px;
            
    }
    
    .home .inicio .cont-inicio .imgfundo{
            width:400px ;
            height:400px ;
    }
    .home .inicio .cont-inicio .logo .text-animado{
        position: auto;
        top: 50%;
        height: 100px;
        
    }   
    .home .inicio .cont-inicio .logo .text-animado h1{
        color: #fff;
        font-size: 0.8em;
        font-weight: 600;
    
    }
   
}
@media(min-width: 400.1px) and (max-width: 550.99px){
    .home .inicio .cont-inicio .imgfundo{
        width:550px ;
        height:400px ;
    }
    .home .inicio .cont-inicio .logo{
        position: absolute;
        align-content: center;
        margin-top: 35%;
        z-index: 10;           
}
    .home .inicio .cont-inicio .logo .text-animado{
        position: auto;
        top: 50%;
        height: 100px;
        
    }   
    .home .inicio .cont-inicio .logo .text-animado h1{
        color: #fff;
        font-size: 0.8em;
        font-weight: 600;
    
    }
}
@media(min-width: 550px) and (max-width: 800.99px){
    .home .inicio{
        top:40%;
        position: relative;
        width: 100%;
    }
    .home .inicio .cont-inicio .logo{
        position: absolute;
        align-content: center;
        margin-top: 35%;
        z-index: 10;           
}
 
    .home .inicio .cont-inicio .imgfundo{
            width:800px ;
            height:500px ;
    }
    .home .inicio .cont-inicio .logo .text-animado{
        position: auto;
        top: 50%;
        height: 100px;
            
    }
    
     .inicio .cont-inicio .imgfundo{
            width:500px ;
            height:300px ;
    }
    .home .inicio .cont-inicio .logo .text-animado{
        position: auto;
        top: 50%;
        height: 100px;
        
    }   
    .home .inicio .cont-inicio .logo .text-animado h1{
        color: #fff;
        font-size: 0.8em;
        font-weight: 600;
    
    }
   
}

@media(min-width: 800px) and (max-width: 1000.99px){
    .home .inicio{
        top:40%;
        position: relative;
        width: 100%;
    }
    .home .inicio .cont-inicio .logo{
        position: absolute;
        align-content: center;
        margin-top: 35%;
        z-index: 10;
           
}
 
    .home .inicio .cont-inicio .imgfundo{
            width:1000px ;
            height:800px ;
    }
    .home .inicio .cont-inicio .logo .text-animado{
        position: auto;
        top: 50%;
        height: 100px;
            
    }
    
     .inicio .cont-inicio .imgfundo{
            width:500px ;
            height:300px ;
    }
    .home .inicio .cont-inicio .logo .text-animado{
        position: auto;
        top: 50%;
        height: 100px;
        
    }   
    .home .inicio .cont-inicio .logo .text-animado h1{
        color: #fff;
        font-size: 0.8em;
        font-weight: 600;
    
    }
}
.sobre a{
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.sobre a:hover {
	text-decoration: none; 
	color: #2dc997;
}
.sobre{
    background-color:rgba(255, 255, 255, 0.808);
    padding: 10px 20px;
}
.sobre .title{
    margin-top: 40px;
}
.sobre .title h1{
    font-size: 3.2em;
    font-weight: 900;
    margin-bottom: 50px;
    text-align: center;
    color:#4a86bc;
    top: 8px;

}
.sobre .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;

}

.sobre .content .col-left{
    position: relative;
    width: 45%;

  
}
.sobre .content .col-right{
    position: relative;
    width: 50%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 300px;
}

.sobre .content .col-left .img-card{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.sobre .content .col-left .img-card img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.sobre .content .col-right p{
    font-size: 1em;
    color: black;
}
.sobre .content .col-right h4{
    font-size: 2em;
    color: #466fa6;

}

.sobre .content .col-right ul{
    margin-left: 20px;
}
.sobre .content .col-right ul li{
    font-size: 1em;
}
.sobre .content .col-right .img-logo{
    width: 100%;
    max-height: 270px;
}
.sobre .content .col-right .img-logo img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/**  SOBRE PARTE 2   **/
.sobre1 .title{
    margin-top: 40px;
}
.sobre1{
    background-color:#1d2840;
    padding: 10px 20px;
}
.sobre1 .content-1{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 10px;
}
.sobre1 .title h1{
    position: relative;
    font-size: 3.2em;
    font-weight: 900;
    margin-bottom: 50px;
    text-align: center;
    color:#ffb70188;
    top: 8px;
    
}
.sobre1 .content-1 .col-left{
    position: relative;
    width: 55%;
    margin-top: 20px;
    padding: 60px;
}
.sobre1 .content-1 .col-right{
    position: relative;
    width: 50%;
  
}
.sobre1 .content-1 .col-right .img-card{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.sobre1 .content-1 .col-right .img-card img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.event-container{
    max-width: 800px;
    margin: 0 auto;

}
.sobre1 .content-1{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sobre1 .content-1 .col-left p{
    font-size: 1em;
    color: #fff;
}
.sobre1 .content-1 .col-left h1{
    color: #fff;
}

.sobre1 .content-1 .col-left h4{
    font-size: 2em;
    color: #ffb70188;
}

.sobre1 .content-1 .col-left h3{
    color: #ffb70188;
    font-size: 1.5em;
}


/*SOBRE ajustes moobile*/
@media(max-width: 350px){

    /*sobre*/
    .sobre{
        padding: 10px 10px;
    }
    .sobre .title h1{
        font-size: 2em;
    }
    .sobre .content{
        flex-direction: column;
    
    }
    .sobre .content .column{
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    .sobre .content .col-right{
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px
    }
    .sobre .content .col-left .img-card {
        min-height: 0px;
    }
    .sobre  .content .col-right .content-title{
            font-size: 1.4em;
    }
    .sobre  .content .col-right p{
        font-size: 0.8em;
    } 
    .sobre .content .col-right ul li{
        font-size: 0.8em;
    }
    /*sobre1*/
    .sobre1{
        padding: 1px 10px;
        
    }
    .sobre1 .title h1{
        font-size: 2em;
    }
    .sobre1 .content-1{
        flex-direction: column;
        margin-bottom: 1px;
            
    
    }
    .sobre1 .content-1 .col-left{
        position: relative;
        width: 55%;
        margin-top: 20px;
        padding: 0px;
    }
    .sobre1 .content-1 .column{
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    
    .sobre1 .content-1 .col-left .img-card {
        min-height: 0px;
        
    }
    .sobre1  .content-1 .col-left .content-title{
            font-size: 1.4em;
    }
    .sobre1  .content-1 .col-left h3{
        font-size: 1em;
    } 
    .sobre1  .content-1 .col-left p{
        font-size: 0.8em;
    } 

}
@media(min-width: 350px) and (max-width: 549.99px){
  
    /*sobre*/
    .sobre{
        padding: 10px 10px;
    }
    .sobre .title h1{
        font-size: 2.4em;
    }
    .sobre .content{
        flex-direction: column;
    
    }
    .sobre .content .column{
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    .sobre .content .col-right{
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px
    }
    .sobre .content .col-left .img-card {
        min-height: 0px;
    }
    .sobre  .content .col-right .content-title{
            font-size: 1.8em;
    }
    .sobre  .content .col-right p{
        font-size: 1em;
    } 
    .sobre .content .col-right ul li{
        font-size: 1em;
    }
    /*sobre1*/
    .sobre1{
        padding: 1px 10px;
        
    }
    .sobre1 .title h1{
        font-size: 2.4em;
    }
    .sobre1 .content-1{
        flex-direction: column;
        margin-bottom: 1px;
    }
    .sobre1 .content-1 .col-left{
        position: relative;
        width: 55%;
        margin-top: 20px;
        padding: 0px;
    }
    .sobre1 .content-1 .column{
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    .sobre1 .content-1 .col-left .img-card {
        min-height: 0px;
        margin-bottom: 10px;
        
    }
    .sobre1  .content-1 .col-left .content-title{
            font-size: 1.8em;
    }
    .sobre1  .content-1 .col-left h3{
        font-size: 1.3em;
    } 
    .sobre1  .content-1 .col-left p{
        font-size: 1em;
    } 

}


@media (min-width: 551px) and (max-width: 900.98px){
     /*sobre*/
     .sobre{
        padding: 10px 10px;
    }
    .sobre .title h1{
        font-size: 2.4em;
    }
    .sobre .content{
        flex-direction: column;
    
    }
    .sobre .content .column{
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    .sobre .content .col-right{
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .sobre .content .col-left .img-card {
        min-height: 0px;
    }
    .sobre  .content .col-right .content-title{
            font-size: 1.8em;
    }
    .sobre  .content .col-right p{
        font-size: 1em;
    } 
    .sobre .content .col-right ul li{
        font-size: 1em;
    }
    /*sobre1*/
    .sobre1{
        padding: 1px 10px;
        
    }
    .sobre1 .title h1{
        font-size: 2.4em;
    }
    .sobre1 .content-1{
        flex-direction: column;
        margin-bottom: 1px;
    }
    .sobre1 .content-1 .col-left{
        position: relative;
        width: 55%;
        margin-top: 20px;
        padding: 0px;
    }

    .sobre1 .content-1 .column{
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    .sobre1 .content-1 .col-left .img-card {
        min-height: 0px;
        margin-bottom: 10px;
        
    }
    .sobre1  .content-1 .col-left .content-title{
            font-size: 1.8em;
    }
    .sobre1  .content-1 .col-left h3{
        font-size: 1.3em;
    } 
    .sobre1  .content-1 .col-left p{
        font-size: 1em;
    } 
  } 

  @media (min-width: 900.99px) and (max-width: 1400px){

    .sobre .content .col-right{
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}